
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Posts
.post-cover {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.post-description {
  height: 105px;
  overflow: hidden;
}

.post-labels {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
}